header{
    height: 60px;
    background: rgb(184, 133, 133);
    color: rgb(66, 10, 83);
    padding: 10px;
img{
    float: left;
    border-radius: $border-radius;
}
   h1{
    margin-left: 580px;
}
}