//variable interpolada, selecciona cada hijo
$vari: 1;
@while $vari<=10{
    .selector:nth-child(#{$vari}){
        width: 30px * $vari;
        height: 25px;
        border: 1px solid #aaa;
        background: darken(rgb(163, 51, 51), $vari);
        margin-bottom: #{$vari}px;      
    }
    $vari : $vari + 1;
}
section{
    margin: 50px;
    padding: 10%;
}