@import "variables";
@import "section";
@import "header";
@import "footer";
@import "navegacion";
h1{
    color: red;
}


body{
    background:$color-fondo;
    font-family: $fuente1;
}


.contenido{
    background:$fondo-contenido;
    padding: 10px;
}
